<!-- # I wrote this code -->
<!-- Home page of user -->
{% extends "./top.html" %}
{% block content %}

<!-- just for the images -->
<script>
    setInterval(function() {
    console.log("Hey");
    const req = new XMLHttpRequest();
    req.onreadystatechange = function(){
        if (req.readyState === 4) {
            console.log("Got Data")
            html = "<table><tr>";
            data = JSON.parse(req.response)
            data.forEach(function(obj){              
                if (obj.user == "{{user.username}}"){                 
                    html += "<div class='vertical' ><img class='image_item' src=\""+obj.image +"\"><p>"+obj.name+"</p></div>"
                };                
            });
            html += "</tr></table>";
            document.getElementById("images").innerHTML = html ;
        }            
    };
    req.open("GET", "/api/images/");
    req.send();
    }, 5000);
</script>

<div class="vertical">    
    <h2>Home Page:</h2>
    <div class="status">            
        <h4>Change your status here:</h4>
        <p><b>Current status:</b> " {{user_status}} "</p>
        <form id="status_form" method="post" action="/status/">  
            {% csrf_token %}
            Status: <input type="text" name="status" value="" size="110" />
            <br />    
            <br />     
            <input class="btn btn-dark" type="submit" value="Update status" />
        </form>
    </div>
    <div class="horizontal">      
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=../images/{{user_photo}} alt="profile picture">
            <div class="card-body">
                <h5 class="card-title">{{user_name}}</h5>
                <p class="card-text"><b>Organization:</b> {{user_organisation}}</p>
                <p class="card-text"><b>Status:</b> {{user_status}}</p>            
            </div>                  
        </div>       
        <div class="greater_area">
            <h3>Your memories and adventures</h3>
            <div class="image_area" id="images">
                <div class="vertical" >                    
                </div> 
            </div>            
            <h3>Upload images:</h3>            
            <div id="input">
                <form action="/api/image/" method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}    
                    <input type="file" id="image" name="image"><br><br>
                    <label for="name">Name:</label><br>
                    <input type="text" id="name" name="name"><br><br>
                    <input type="submit" class="btn btn-dark" value="Upload image">                    
                </form>
            </div>
        </div>        
    </div>

    <!-- People/ Friends section--> 
    <hr class="bold_divider">  
    <h2>Pending friend request from people:</h2>
    <div class="horizontal">
        {% for people in incoming_request_list %} 
            <div class="card " style="width: 12rem; border-color: blue;">
                <img class="card-img-top" src=../images/{{people.from_user.photo}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{people.from_user.user}}</h5>
                    <p class="card-text"><b>Status:</b> {{ people.from_user.status}}</p>
                    <form id="request_acceptance_form" method="post" action="/request_acceptance/">
                        {% csrf_token %}                         
                        <input type="hidden" name="friendship_id" value={{people.friendship_id}} size="1256" />
                        <button class="btn btn-dark">Accept friend request</button>
                    </form>
                </div>                  
            </div> 
        {% endfor %}
    </div>
    <hr class="bold_divider"> 
    <h2>Your friends:</h2>
    <div class="horizontal">
        {% for people in inc_friend_list %} 
            <div class="card " style="width: 12rem; border-color: green;">
                <img class="card-img-top" src=../images/{{people.from_user.photo}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{people.from_user.user}}</h5>
                    <p class="card-text"><b>Status:</b> {{ people.from_user.status}}</p>                    
                </div>                  
            </div> 
        {% endfor %}
        {% for people in out_friend_list %} 
            <div class="card " style="width: 12rem; border-color: green;">
                <img class="card-img-top" src=../images/{{people.to_user.photo}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{people.to_user.user}}</h5>
                    <p class="card-text"><b>Status:</b> {{ people.to_user.status}}</p>                    
                </div>                  
            </div> 
        {% endfor %}
    </div>

    <hr class="bold_divider">
    <h2>Pending requests sent by you:</h2>
    {% for people in outgoing_request_list %} 
        <div class="card " style="width: 6rem; border-color: orange;">
            <img class="card-img-top" src=../images/{{people.to_user.photo}} alt="Card image cap">
            <div class="card-body">
                <h6 class="card-title">{{people.to_user.user}}</h6>                   
            </div>                  
        </div> 
    {% endfor %}

    <hr class="bold_divider">
    <h2>Chat Area:</h2>
    <div class="horizontal">
        {% for people in inc_friend_list %} 
            <div class="vertical" style="max-width: 12rem;">
                <div class="card " style="width: 6rem; border-color: red;">
                    <img class="card-img-top" src=../images/{{people.from_user.photo}} alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title">{{people.from_user.user}}</h6>                                    
                    </div>                  
                </div> 
                <input id="room-name-input" type="hidden" value={{people.friendship_id}} size="100"><br>
                <input id="room-name-submit" class="btn btn-dark" type="button" value={{people.from_user.user}}>
            </div>            
        {% endfor %}
        {% for people in out_friend_list %}             
            <input id="room-name-input" type="hidden" value={{people.friendship_id}} size="100"><br>
            <input id="room-name-submit" class="btn btn-dark" type="button" value={{people.to_user.user}}>
        {% endfor %}
    </div>
    <!-- # end of code I wrote  -->
    <!-- Chatroom -->
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };
        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script> 

</div>

{% endblock %}

