<!-- # I wrote this code -->
<!-- Main base page used in all templates -->
<!DOCTYPE html>
<html lang="en">        
    {% load bootstrap4 %}
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Toy Gene data website">
        <meta name="keywords" content="HTML,gene,genes,advanced,web,development">
        <meta name="author" content="D.Buchan">
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        <link rel="stylesheet" type="text/css" href="../static/css/chat.css"> 
    </head>
    <body>
        <div class="logoBar">  
            <img src="../images/logo.png" id="logo"  alt="friendship logo" >
            <h1 id="application_title" >Social Network Application</h2>
        </div>
        <div class='innerBody'> 
            {% if user.is_authenticated %}
            <nav>
                <p  class="cursive"> Hello {{ user.username }} !<span class="sr-only">(current)</span></p>
                <li class="nav-item">
                    <a class="nav-link" href="../">Main<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../logout/">| Logout<span class="sr-only">(current)</span></a>
                </li>
            </nav>
            {% endif %}

            {% block content %}

            {% endblock %}

        </innerBody>
    </body> 
</html>

<!-- # end of code I wrote -->